<!DOCTYPE html>
    <html lang="fr">

    <head>
        {% block meta %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <title>{% block title %}Speedtest{% endblock %}</title>
        {% endblock %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% block body %}{% endblock %}

    <!-- Custom scripts for all pages-->
    {% block javascripts %}{% endblock %}
    </body>
</html>
